<!DOCTYPE HTML>
<html layout:decorator="layout">
<head>
    <title>Content page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div layout:fragment="content">


        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Vitalii Naumov</h1>
                <p class="lead">FY46IN</p>
                <p class="lead">fy46in@gmail.com</p>
            </div>

        </div>

    </div>
</div>
</body>
</html>