<!DOCTYPE HTML>
<html layout:decorator="layout">
<head>
    <title>Content page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div layout:fragment="content">


        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Learning management system</h1>
                <p class="lead">Evaluate some tasks</p>
                <p><a class="btn btn-primary" href="/tasks" role="button">List tasks</a></p>
            </div>

        </div>

    </div>
</div>
</body>
</html>